.header {
  text-align: center;
}

.app-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.main-content {
  flex: 1 0 auto;
}

.balance-spinner-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.nav-link-active {
  color: white !important;
  text-decoration: none;
  padding: 0.5rem;
}

.nav-link-inactive {
  color: gray !important;
  text-decoration: none;
  padding: 0.5rem;

}

#address-switch {
  cursor: pointer;
}

.buy-modal {
  top: 30%!important;
  width: auto!important;
}

.cursor-pointer {
  cursor: pointer;
}

/* Remove input number arrows Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Remove input number arrows Firefox */
input[type=number] {
  --moz-appearance: textfield;
}